<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/head.ejs %>
</head>
<body>
<div class="container">
    <% include template/errors.ejs %>
    <% include template/sidebar.ejs %>
    <h1><%= pageTitle %></h1>
    <div class="main_content">

        <div class="account details">
            <h3>Name: <%=dentist_data.name%></h3>

            <h4>ID: <%=dentist_data.id%></h4>

            <h4>Date of birth: <%=dentist_data.date_of_birth%> (<%=dentist_data.age%>)</h4>

            <h4 id="phone_number">Phone number: <%=dentist_data.phone_number%> <input type="button" onclick="change_phone_number()" value="edit"></h4>
            <form id="edit_phone_number" style="display:none" action="/dentist/edit/phone_number" method="post"><input name="phone_number" type="text" value="<%=dentist_data.phone_number%>"><input type="hidden" name="id" value="<%=dentist_data.id%>"><button type="submit">Apply</button></form>

            <h4 id="email_address">Email address: <%=dentist_data.email%> <input type="button" onclick="change_email()" value="edit"></h4>
            <form id="edit_email" style="display:none"  action="/dentist/edit/email" method="post"><input name="email" type="email" value="<%=dentist_data.email%>"><input type="hidden" name="id" value="<%=dentist_data.id%>"><button type="submit">Apply</button></form>
        </div>

        <div id="confirm_delete" style="display:none">
            <span class="btn" onclick="delete_account()">&times;</span>
            Are you sure you want to delete this account?
            <form id="delete_account" action="/dentist/delete" method="post"><button type="submit"><input name="dentist_id" type="hidden" value="<%=dentist_data.id%>">Yes</button></form>
        </div>
        <div>
            <input id="delete" type="button" onclick="delete_account();" value="Delete account">
            <input id="new_appointment" type="button" onclick="new_appointment();" value="New Appointment">
        </div>
    </div>
</div>

<script>

    function change_phone_number(){
        document.getElementById("phone_number").style.display = "none";
        document.getElementById("edit_phone_number").style.display = "";
    }
    function change_email(){
        document.getElementById("email_address").style.display = "none";
        document.getElementById("edit_email").style.display = "";
    }
    function delete_account(){
        if(document.getElementById("confirm_delete").style.display == "none"){
            document.getElementById("confirm_delete").style.display = "";
            document.getElementById("delete").style.display = "none";
        }else{
            document.getElementById("confirm_delete").style.display = "none";
            document.getElementById("delete").style.display = "";
        }
    }
    function new_appointment(){
        if(document.getElementById("appointment_form").style.display == "none"){
            document.getElementById("appointment_form").style.display = "";
            document.getElementById("new_appointment").style.display = "none";
        }else{
            document.getElementById("appointment_form").style.display = "none";
            document.getElementById("new_appointment").style.display = "";
        }
    }
</script>
</body>
</html>