<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/head.ejs %>
</head>
<body>

<div class="container">

    <% include template/errors.ejs %>
    <% include template/sidebar.ejs %>
    <h1><%= pageTitle %></h1>
    <table id="browse_table">

        <tr class="header">
            <th style="width:33%;"><input type="text" id="filter_id" onkeyup="filterID()" placeholder="Filter by ID.." title="Type dentist's ID"><br><br>ID</th>
            <th style="width:33%;"><input type="text" id="filter_name" onkeyup="filterName()" placeholder="Filter by name.." title="Type dentist's name"> <br><br>Name</th>
            <th style="width:33%"><input type="text" id="filter_dob" onkeyup="filterDateOfBirth()" placeholder="Filter by date of birth.." title="Type dentist's date of birth"> <br><br>Date of birth</th>
        </tr>
        <%if(typeof dentist_list !== 'undefined'){
        dentist_list.forEach(function(dentist){ %>
        <%if(typeof dentist.id !=='undefined'){%>
        <tr class="account_url" data-href="<%='dentist/'+dentist.id%>">
            <td><%=dentist.id%></td>
            <td><%=dentist.name%></td>
            <td><%=dentist.date_of_birth%></td>
        </tr>
        <% }});
        }%>
    </table>
</div>
<%include scripts/browse.ejs%>
</body>
</html>